main {
  display: flex;
}

.main-content-full {
  background: #fff;
  margin-left: 0rem;
  width: 100%;
  min-height: 100vh;
}

.main-content-sidebar {
  background: #fff;
  margin-left: 15rem;
  width: 100%;
  min-height: 100vh;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  background: rgb(245, 241, 241);
  min-height: 100vh;
  border-radius: 1rem;
}

a:hover {
  text-decoration: underline;
}