.sidebar-open {
  display: flex;
  flex-direction: column;
  width: 15rem;
  min-height: 100%;
  position: absolute;
  left: 0;
  color: #fff;
  opacity: 1;
  transition: 1s;
}

.sidebar-closed {
  display: none;
  flex-direction: column;
  width: 0rem;
  min-height: 100%;
  position: absolute;
  left: 0;
  color: #fff;
  opacity: 0;
}

.sidebar-item {
  display: flex;
  margin-left: 2rem;
}

.sidebar-item h2 {
  margin-left: 6px;
}

.focus {
  color: #8cd2d5;
  text-decoration: underline;
}

.logout>h2 {
  cursor: pointer;
}

.logout:hover {
  text-decoration: underline;
  color: rgb(255, 0, 0);
}